// COLORS
$background-color: #0F0F0F;
$white: #f0f0f0;
$black: #1a1a1a;
$darkgrey: #60606033;
$grey: #8e8e8e;
$placeholder: #9c9c9c;

// FONTS
// $main-font: 'Amiri', serif;
$main-font: 'Raleway', sans-serif;
$category-font: 'DM Serif Display', serif;
$header-titleSize: 35px;

// OTHER
$radius: 50px;
